@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: hsl(204, 43%, 93%);
    position: relative;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 760px;
    border-radius: 8px;
    background-color: #fff;
    height: auto;
    display: grid;
    grid-template-areas: 'item1 item1'
        'item2 item3';
}

.item-1 {
    grid-area: item1;
    padding: 40px;
}

.item-1 .heading {
    font-size: 26px;
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
    font-weight: bold;
}

.item-1 .title {
    font-size: 22px;
    color: hsl(71, 73%, 54%);
    margin: 12px 0;
    font-weight: 600;
}

.item-1 .text {
    margin: 14px 0 10px;
    font-size: 18px;
    word-spacing: 1.6px;
    color: hsl(218, 22%, 67%);
}

.item-2 {
    grid-area: item2;
    background: hsl(179, 62%, 43%);
    padding: 40px;
    color: white;
    border-bottom-left-radius: 8px;
}

.item-2 .heading {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.item-2 .cost {
    font-size: 40px;
    margin: 0 0 10px;
    display: flex;
    align-items: center;
}

.cost span {
    color: rgb(209, 209, 209);
    font-size: 20px;
    margin-left: 16px;
}

.item-2 .text {
    margin: 0px 0 30px;
    font-weight: 200;
}

.item-2 .btn {
    padding: 14px 0;
    background: hsl(71, 73%, 54%);
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px hsl(71, 73%, 54%);
    font-size: 18px;
    letter-spacing: 1px;
    transition: all 0.4s;
}

.item-2 .btn:hover {
    border-radius: 30px;
}

.item-3 {
    grid-area: item3;
    padding: 40px;
    color: white;
    background: hsl(178, 57%, 58%);
    border-bottom-right-radius: 8px;
}

.item-3 .heading {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.item-3 ul li {
    margin: 6px 0;
    color: rgb(231, 230, 230);
    list-style: none;
}

.attribution {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: hsl(179, 62%, 43%);
    font-weight: bold;
}

.attribution a {
    text-decoration: none;
    color: hsl(71, 73%, 54%);
    position: relative;
}

.attribution a::before,
.attribution a::after {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 0;
    height: 2.8px;
    background: hsl(179, 81%, 43%);
    transition: width 0.6s;
}

.attribution a::before {
    left: 0;
}

.attribution a::after {
    right: 0;
}

.attribution a:hover::before,
.attribution a:hover::after {
    width: 100%;
}

@media only screen and (max-width:800px) {

    .container {
        height: 114vh;
    }

    .card {
        display: block;
        width: 86%;
        grid-template-areas: 'item1'
            'item2'
            'item3';
    }

    .item-1,
    .item-2,
    .item-3 {
        padding: 25px;
    }

    .item-1 .heading,
    .item-2 .heading,
    .item-3 .heading {
        font-size: 20px;
    }

    .item-1 .title {
        font-size: 18px;
    }

    .item-1 .text {
        font-size: 16px;
        word-spacing: 0;
        line-height: 1.8rem;
    }

    .item-2 {
        border-bottom-left-radius: 0;
    }

    .item-3 {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .item-3 ul li {
        font-size: 15px;
    }

    footer {
        text-align: center;
    }

    .attribution {
        font-size: 18px;
        bottom: 10px;
        left: 0;
        transform: translate(0, 0);
        line-height: 1.5rem;
    }
}